<li style = "display: inline-block;">
    <div class="col-sm-6">
        <div class="card {{background.background_name}}">
            <div class="card-body">
                <img src="{{icon.icon_path}}" />
                <h5 class="card-title {{font.font_name}}">{{card_title}}</h5>
                <h5 class="card-title">Card code:&nbsp;<label id="{{card_code}}">{{card_code}}</label></h5>
            </div>
        </div>
        <div class="row around-xs">
            <button type="submit">edit card</button>
        </div>
    </div>
</li>
