<li class="li-display">
    <div class="col-sm-6">
        <div id ="cardCodeDiv" class="card {{background.background_name}} cursor-pointer" data-card-code="{{card_code}}">
            <div class="card-body text-align-center">
                <img src="{{icon.icon_path}}" />
                <h5 class="card-title {{font.font_name}}">{{card_title}}</h5>
                <h5 class="card-title">Card code:&nbsp;{{card_code}}</h5>
            </div>
        </div>
        <div class="row around-xs">
            <button type="submit">QR code</button>
            <button type="submit">edit card</button>
            <button type="submit" id='cardDelete'>delete card</button>
        </div>
    </div>
</li>
