<section id="dashboard">
<div class="user-field">
  <h1>Welcome Back, {{profile.first_name}}</h1>
<form class="user-info">
    {{!-- image container needs to be stylized and have option to upload url
    social accounts could be saved here and represented as icons in template --}}
<div class="row around-xs">
  <div class="row center-xs">
    <div class="col-xs">
      <input type="text" class="form-control" placeholder="First Name" value="{{profile.first_name}}" id ="firstName">
      <input type="text" class="form-control" placeholder="Last Name" value="{{profile.last_name}}" id ="lastName">
      <input type="text" class="form-control" placeholder="Nickname" value="{{profile.nickname}}" id="nickname">
      <input type="text" class="form-control" placeholder="LinkedIn url" type="url" value="{{profile.linkedin_url}}" id="linkedinUrl">
      <input type="text" class="form-control" placeholder="Instagram url" type="url" value="{{profile.instagram_url}}" id="instagramUrl">
      <input type="text" class="form-control" placeholder="Facebook url" type="url" value="{{profile.facebook_url}}" id="facebookUrl">
      <input type="text" class="form-control" placeholder="Home Address" value="{{profile.home_address}}" id="homeAddress">
      <input type="text" class="form-control" placeholder="Twitter url" type="url" value="{{profile.twitter_url}}" id="twitterUrl">
      <input type="text" class="form-control" placeholder="Personal Phone" type="tel" id="personalPhone" value="{{format_phone profile.personal_phone}}">
      <input type="text" class="form-control" placeholder="Personal Email" type="email" value="{{profile.personal_email}}" id="personalEmail">
      <input type="text" class="form-control" placeholder="Junk Email" type = "email" value="{{profile.junk_email}}" id="junkEmail">
    </div>
    <div class="col-xs">
      <input type="text" class="form-control" placeholder="Business Name" value="{{profile.business_name}}" id="businessName">
      <input type="text" class="form-control" placeholder="Position" value="{{profile.position}}" id="position">
      <input type="text" class="form-control" placeholder="Business Address" value="{{profile.business_address}}" id="businessAddress">
      <input type="text" class="form-control" placeholder="Business Phone" type="tel" id="businessPhone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" value="{{format_phone profile.business_phone}}">
      <input type="text" class="form-control" placeholder="Business Phone Ext." id="businessPhoneExt" value="{{profile.business_phone_ext}}">
      <input type="text" class="form-control" placeholder="Business Email" type="email" value="{{profile.business_email}}" id="businessEmail">
      <input type="text" class="form-control" placeholder="Business Website" type="url" value="{{profile.business_url}}" id="businessWebsite">
      <input type="text" class="form-control" placeholder="Business Slogan" value="{{profile.slogan}}" id="slogan">
      <input type="text" class="form-control" placeholder="Short Bio" value="{{profile.bio}}" id="bio">
    </div>
</div>
</form>
    <div class="row around-xs">
        <button type="submit" id="profileSave">save</button>
    </div>
</div>
</section>

{{!-- <section id="rolodex">
<div class="rolodex">
    <h2>Rolodex</h2>
    <div class="user-card">
        <h4>saved user cards will go here</h4>
// would need this function to repeat depending on amount of saved users 
        
    </div>
</div>
</section> --}}

<section id="mycards">
<div class="saved-cards">
    <h2>My Cards</h2>
  <div class="row around-xs">
{{!-- card option that includes link - this could go to a page with just that number or generate QR code --}}
{{!-- may need to created another handlebars template so this can be a repeating option like above ^^^ --}}
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Business Card</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
        <div class="row around-xs">
        <button type="submit">card code</button>
        </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
        <div class="row around-xs">
        <button type="submit">card code</button>
        </div>
  </div>
    <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
     <div class="row around-xs">
        <button type="submit">card code</button>
        </div>
  </div>
</div>
</div>
</section>
<form class="user-info">
    {{!-- image container needs to be stylized and have option to upload url
    social accounts could be saved here and represented as icons in template --}}
<section id="newcard">
<div class="build-card">
    <h2>New Card</h2>
    <div class="row around-xs">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Select Background</h5>
            <img class="circle" src="./images/light_card_background.png" alt="peach background">
            <img class="circle" src="./images/white_background.png" alt="white background">
            <img class="circle" src="./images/light_card_background.png" alt="orange background">
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Font Option</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>    
    </div>  
<div class="row around-xs">
  <div class="row center-xs">
    <div class="col-xs">
  <form class="user-info">
      <label>{{profile.first_name}}</label>
      <label>{{profile.last_name}}</label>
      <label>{{profile.nickname}}</label>
      <label>{{profile.linkedin_url}}</label>
      <label>{{profile.instagram_url}}</label>
      <label>{{profile.facebook_url}}</label>
      <label>{{profile.home_address}}</label>
      <label>{{profile.twitter_url}}</label>
      <label>{{format_phone profile.personal_phone}}</label>
      <label>{{profile.personal_email}}</label>
      <label>{{profile.junk_email}}</label>
    </div>
    <div class="col-xs">
      <label>{{profile.business_name}}</label>
      <label>{{profile.position}}</label>
      <label>{{profile.business_address}}</label>
      <label>{{format_phone profile.business_phone}}</label>
      <label>{{profile.business_phone_ext}}</label>
      <label>{{profile.business_email}}</label>
      <label>{{profile.business_url}}</label>
      <label>{{profile.slogan}}</label>
      <label>{{profile.bio}}</label>
    </div>
</div>
</form>
    <div class="row around-xs">
        <button type="submit">create card</button>
    </div>
</div>
</section>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/js/dashboard.js"></script>
