<section id="dashboard">
<div class="user-field">
  <h1>Welcome Back, {{profile.first_name}}</h1>
<form class="user-info">
  <h2>User Dashboard</h2>
<div class="row around-xs">
  <div class="row center-xs">
    <div class="col-xs">
      <input type="text" class="form-control" placeholder="First Name" value="{{profile.first_name}}" id ="firstName">
      <input type="text" class="form-control" placeholder="Last Name" value="{{profile.last_name}}" id ="lastName">
      <input type="text" class="form-control" placeholder="Nickname" value="{{profile.nickname}}" id="nickname">
      <input type="text" class="form-control" placeholder="LinkedIn url" type="url" value="{{profile.linkedin_url}}" id="linkedinUrl">
      <input type="text" class="form-control" placeholder="Instagram url" type="url" value="{{profile.instagram_url}}" id="instagramUrl">
      <input type="text" class="form-control" placeholder="Facebook url" type="url" value="{{profile.facebook_url}}" id="facebookUrl">
      <input type="text" class="form-control" placeholder="Home Address" value="{{profile.home_address}}" id="homeAddress">
      <input type="text" class="form-control" placeholder="Twitter url" type="url" value="{{profile.twitter_url}}" id="twitterUrl">
      <input type="text" class="form-control" placeholder="Personal Phone" type="tel" id="personalPhone" value="{{format_phone profile.personal_phone}}">
      <input type="text" class="form-control" placeholder="Personal Email" type="email" value="{{profile.personal_email}}" id="personalEmail">
      <input type="text" class="form-control" placeholder="Junk Email" type = "email" value="{{profile.junk_email}}" id="junkEmail">
      <small id="firstName-error"></small>
      <small id="lastName-error"></small>
      <small id="personalEmail-error"></small>
      <small id="businessEmail-error"></small>
      <small id="junkEmail-error"></small>
    </div>
    <div class="col-xs">
      <input type="text" class="form-control" placeholder="Business Name" value="{{profile.business_name}}" id="businessName">
      <input type="text" class="form-control" placeholder="Position" value="{{profile.position}}" id="position">
      <input type="text" class="form-control" placeholder="Business Address" value="{{profile.business_address}}" id="businessAddress">
      <input type="text" class="form-control" placeholder="Business Phone" type="tel" id="businessPhone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" value="{{format_phone profile.business_phone}}">
      <input type="text" class="form-control" placeholder="Business Phone Ext." id="businessPhoneExt" value="{{profile.business_phone_ext}}">
      <input type="text" class="form-control" placeholder="Business Email" type="email" value="{{profile.business_email}}" id="businessEmail">
      <input type="text" class="form-control" placeholder="Business Website" type="url" value="{{profile.business_url}}" id="businessWebsite">
      <input type="text" class="form-control" placeholder="Business Slogan" value="{{profile.slogan}}" id="slogan">
      <input type="text" class="form-control" placeholder="Short Bio" value="{{profile.bio}}" id="bio">
    </div>
</div>
</form>
    <div class="row around-xs">
        <button type="submit" id="profileSave">save</button>
    </div>
</div>
</section>

{{!-- <section id="rolodex"> FOR FUTURE DEVELOPMENT
<div class="rolodex">
    <h2>Rolodex</h2>
    <div class="user-card">
        <h4>saved user cards will go here</h4>
// would need this function to repeat depending on amount of saved users 
        
    </div>
</div>
</section> --}}

<section id="mycards">
  <div class="saved-cards">
    <h2>My Cards</h2>
      <div id ="mycards-list" class="row around-xs">
        {{#each cards}}
          {{> mycards-dashboard}}
        {{/each}}
      </div> 
    </div>
</section>

{{!-- <section id="mycards"> --}}
  {{!-- section replaced by handlebars partial mycards-dashboard --}}

<section id="newcard">
<form class="user-info">
<div class="build-card">
    <h2 clas=>Build a New Card</h2>
    <div class="row around-xs">
      <div class="col-xs-6">
        <div class="card">
              <h4 class="card-title">Select Background</h5>
          <div class="card-body">
            <div class="backgrounds row around-xs">
              <img class="circle" src="./images/light_card_background.png" alt="peach background"><input type="radio" id="light_background" name="background" value="peach">
              <img class="circle" src="./images/white_background.png" alt="white background"><input type="radio" id="white_background" name="background" value="white">
              <div class="orangebackground" alt="orange background"></div><input type="radio" id="orange_background" name="background" value="orange">
              <div class="peachbackground" alt="peach background"></div><input type="radio" id="peach_background" name="background" value="peach">
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="card">
            <div class="font-card">
              <h4 class="card-title">Select Font</h5>
            <div class="card-body" id="card-font">
              <p class="font-one" id="font-one">Raleway Example<input type="radio" id="perpetua_font" name="font" value="perpetua"></p>
              <p class="font-two" id="font-two">Solway Example<input type="radio" id="verdana_font" name="font" value="verdana"></p>
            </div>
            </div>
        </div>
      </div>    
      <div class="col-xs-6">
        <div class="card">
          {{!-- <div class="card-body"> --}}
            <h4 class="card-title">Select Icon</h5>
            <div class="card-body">
             <div class="row around-xs">
            <img title="icon-one" alt="tie-icon" src="./icon_new/arroba.png" width="30px"><input type="radio" id="icon-four" name="icon" value="icon-one">
              <img title="icon-three" alt="email-icon" src="./icon_new/eye.png" width="30px"><input type="radio" id="icon-two" name="icon" value="icon-three">
            <img title="icon-two" alt="share-icon" src="./icon_new/chat.png" width="30px"><input type="radio" id="icon-three" name="icon" value="icon-two">
            </div>
             <div class="row around-xs">
            <img title="icon-four" alt="layers-icon" src="./icon_new/heart.png" width="30px"><input type="radio" id="icon-one" name="icon" value="icon-four">
            <img title="icon-five" alt="idea-icon" src="./icon_new/idea.png" width="30px"><input type="radio" id="icon-one" name="icon" value="icon-five">
            <img title="icon-six" alt="paperplane-icon" src="./icon_new/paper-plane.png" width="30px"><input type="radio" id="icon-one" name="icon" value="icon-six">
            </div>
            </div>
          {{!-- </div> --}}
        </div>
      </div> 
    </div>     
    <h2>Choose Your Information</h2>
<div class="row around-xs">
    <div class="col-xs">
      <p class="info">{{profile.first_name}}</p><input type="checkbox" id="profile_first_name" onchange="true">
      <p class="info">{{profile.last_name}}</p><input type="checkbox" id="profile_last_name" onchange="true">
      <p class="info">{{profile.nickname}}</p><input type="checkbox" id="profile_nickname">
      <p class="info">{{profile.home_address}}</p><input type="checkbox" id="profile_home_address">
      <p class="info">{{profile.linkedin_url}}</p><input type="checkbox" id="profile_linkedin_url">
      <p class="info">{{profile.instagram_url}}</p><input type="checkbox" id="profile_instagram_url">
      <p class="info">{{profile.facebook_url}}</p><input type="checkbox" id="profile_facebook_url">
      <p class="info">{{profile.twitter_url}}</p><input type="checkbox" id="profile_twitter_url">
      <p class="info">{{format_phone profile.personal_phone}}</p><input type="checkbox" id="profile_personal_phone">
      <p class="info">{{profile.personal_email}}</p><input type="checkbox" id="profile_personal_email">
      <p class="info">{{profile.junk_email}}</p><input type="checkbox" id="profile_junk_email">
    </div>
    <div class="col-xs">
      <p class="info">{{profile.business_name}}</p><input type="checkbox" id="profile_business_name">
      <p class="info">{{profile.position}}</p><input type="checkbox" id="profile_position">
      <p class="info">{{profile.business_address}}</p><input type="checkbox" id="profile_business_address">
      <p class="info">{{format_phone profile.business_phone}}</p><input type="checkbox" id="profile_business_phone">
      <p class="info">{{profile.business_phone_ext}}</p><input type="checkbox" id="profile_business_phone_ext">
      <p class="info">{{profile.business_email}}</p><input type="checkbox" id="profile_business_email">
      <p class="info">{{profile.business_url}}</p><input type="checkbox" id="profile_business_url">
      <p class="info">{{profile.slogan}}</p><input type="checkbox" id="profile_slogan">
      <p class="info">{{profile.bio}}</p><input type="checkbox" id="profile_bio">
    </div>
    </div>
    <br>
    <br>
      <div class="row around-xs">
        <input type="text" class="info" placeholder="NAME YOUR CARD" id="card_title">
      </div>
      <div class="row around-xs">
        <button type="submit" id='cardSave'>create card</button>
      </div>
  
</div>
</section>
</form>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/js/validation.js"></script>
<script src="/js/dashboard.js"></script>
<script src="/js/mycards.js"></script>
