<section id="dashboard">
<div class="user-field">
  <h1>Welcome Back, {{ username }}</h1>
<form class="user-info">
    {{!-- image container needs to be stylized and have option to upload url
    social accounts could be saved here and represented as icons in template --}}
<<<<<<< HEAD
<div class="row around-xs">
  <div class="row center-xs">
    <div class="col-xs">
      <input type="text" class="form-control" placeholder="First Name">
      <input type="text" class="form-control" placeholder="Last Name">
      <input type="text" class="form-control" placeholder="Nickname">
      <input type="text" class="form-control" placeholder="Social">
      <input type="text" class="form-control" placeholder="Home Address"> 
      <input type="text" class="form-control" placeholder="Personal Phone">  
      <input type="text" class="form-control" placeholder="Personal Email">
      <input type="text" class="form-control" placeholder="Junk Email">
    </div>
    <div class="col-xs">
      <input type="text" class="form-control" placeholder="Business Name">
      <input type="text" class="form-control" placeholder="Business Address">
      <input type="text" class="form-control" placeholder="Business Phone">
      <input type="text" class="form-control" placeholder="Business Email">
      <input type="text" class="form-control" placeholder="Business Website">
      <input type="text" class="form-control" placeholder="Business Slogan">
      <input type="text" class="form-control" placeholder="Short Bio">
=======
<div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Image">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Social">
    </div>
</div>
<div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="First Name" value="{{profile.first_name}}">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Business Name" value="{{profile.business_name}}">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Position" value="{{profile.position}}">
    </div>
</div>
<div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Last Name" value="{{profile.last_name}}">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Business Address" value="{{profile.business_address}}">
    </div>
</div>
<div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Nickname" value="{{profile.nickname}}">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Business Phone" type="tel" id="business_phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" value="{{format_phone profile.business_phone}}">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Business Phone Ext." id="business_phone_ext" value="{{profile.business_phone_ext}}">
    </div>
</div>
<div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Home Address" value="{{profile.home_address}}">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Business Email" type="email" value="{{profile.business_email}}">
    </div>
</div>
<div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Personal Phone" type="tel" id="personal_phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" value="{{format_phone profile.personal_phone}}">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Business Website" type="url" value="{{profile.business_url}}">
    </div>
</div>
<div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Personal Email" type="email" value="{{profile.personal_email}}">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Business Slogan" value="{{profile.slogan}}">
    </div>
</div>
<div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Junk Email" type = "email" value="{{profile.junk_email}}">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Short Bio" value="{{profile.bio}}">
    </div>
</div>
<div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="LinkedIn url" type="url" value="{{profile.linkedin_url}}">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Instagram url" type="url" value="{{profile.instagram_url}}">
    </div>
</div>
<div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Facebook url" type="url" value="{{profile.facebook_url}}">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Twitter url" type="url" value="{{profile.twitter_url}}">
>>>>>>> 0a74059c6390039c73951a30e2f3b6b35c3d0d9e
    </div>
  </div>
  </form>
    <div class="row around-xs">
        <button type="submit">save</button>
    </div>
</div>
</section>

{{!-- <section id="rolodex">
<div class="rolodex">
    <h2>Rolodex</h2>
    <div class="user-card">
        <h4>saved user cards will go here</h4>
// would need this function to repeat depending on amount of saved users 
        
    </div>
</div>
</section> --}}

<section id="mycards">
<div class="saved-cards">
    <h2>My Cards</h2>
    <div class="row around-xs">
{{!-- card option that includes link - this could go to a page with just that number or generate QR code --}}
{{!-- may need to created another handlebars template so this can be a repeating option like above ^^^ --}}
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Business Card</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
        <div class="row around-xs">
        <button type="submit">card code</button>
        </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
        <div class="row around-xs">
        <button type="submit">card code</button>
        </div>
  </div>
    <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
     <div class="row around-xs">
        <button type="submit">card code</button>
        </div>
  </div>
</div>
</div>
</section>

<section id="newcard">
<div class="build-card">
    <h2>New Card</h2>
<form class="user-info">
    {{!-- these need to be changed so they do not have input function but rather a radial click to use on card | this information should be populated from initial dashboard info above ^^^--}}
{{!-- need to add in placeholders for styling options --}}
{{!-- be nice to represent social options as icons that are clickable with stored info above --}}
<div class="row around-xs">
    <div class="col-xs">
      <div class="row">
      <div class="col-xs">
        <input type="text" class="form-control" placeholder="First Name">
        <input type="text" class="form-control" placeholder="Last Name">
        <input type="text" class="form-control" placeholder="Nickname">
        <input type="text" class="form-control" placeholder="Social">
        <input type="text" class="form-control" placeholder="Home Address"> 
        <input type="text" class="form-control" placeholder="Personal Phone">  
        <input type="text" class="form-control" placeholder="Personal Email">
        <input type="text" class="form-control" placeholder="Junk Email">
      </div>
      <div class="col-xs">
        <input type="text" class="form-control" placeholder="Business Name">
        <input type="text" class="form-control" placeholder="Business Address">
        <input type="text" class="form-control" placeholder="Business Phone">
        <input type="text" class="form-control" placeholder="Business Email">
        <input type="text" class="form-control" placeholder="Business Website">
        <input type="text" class="form-control" placeholder="Business Slogan">
        <input type="text" class="form-control" placeholder="Short Bio">
      </div>
      </div>
</form>
    <div class="row around-xs">
        <button type="submit">create card</button>
    </div>
</div>
</section>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/js/dashboard.js"></script>
