    <div class="user-card {{background.background_name}}">
        <div class="row .center-xs .middle-xs">
            <div class="col-xs-12">
                <img src="{{icon.icon_path}}" />
                <h2>{{card_title}}</h2>

                <div class="contact-info {{font.font_name}}">
                     <p>
                        {{#if show_first_name}}{{user.first_name}}{{/if}}
                        {{#if show_last_name}}{{user.last_name}}{{/if}}
                     </p>
                     {{#if show_nickname}}<p>{{user.nickname}}</p>{{/if}}
                     {{#if show_home_address}}<p>{{user.home_address}}</p>{{/if}}
                     {{#if show_personal_phone}}<p>{{format_phone user.personal_phone}}</p>{{/if}}
                     {{#if show_personal_email}}<p>{{user.personal_email}}</p>{{/if}}
                </div>

                <div class="extra-info  {{font.font_name}}">
                     {{#if show_business_name}}<p>{{user.business_name}}</p>{{/if}}
                     {{#if show_business_address}}<p>{{user.business_address}}</p>{{/if}}
                     {{#if show_position}}<p>{{user.position}}</p>{{/if}}
                     {{#if show_business_phone}}
                        <p>{{format_phone user.business_phone}}
                           {{#if show_business_phone_ext}} ({{user.business_phone_ext}}){{/if}}
                        </p>
                     {{/if}}
                     {{#if show_business_email}}<p>{{user.business_email}}</p>{{/if}}
                     {{#if show_business_url}}<p>{{user.business_url}}</p>{{/if}}
                     {{#if show_junk_email}}<p>{{user.junk_email}}</p>{{/if}}
                     {{#if show_linkedin_url}}<p>{{user.linkedin_url}}</p>{{/if}}
                     {{#if show_instagram_url}}<p>{{user.instagram_url}}</p>{{/if}}
                     {{#if show_facebook_url}}<p>{{user.facebook_url}}</p>{{/if}}
                     {{#if show_twitter_url}}<p>{{user.twitter_url}}</p>{{/if}}
                     {{#if show_bio}}<p>{{user.bio}}</p>{{/if}}
                     {{#if show_slogan}}<p>{{user.slogan}}</p>{{/if}}
                </div>

            </div>
        </div>
    </div>
